<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gabriel.jaya.emprendimiento">

    <!-- PERMISOS ESENCIALES -->

    <!-- Permiso para acceder a Internet (necesario para Glide, Google Maps, y futuras APIs) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permisos para Google Maps y servicios de ubicación -->
    <!-- Permite a la app verificar el estado de la conexión de red -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Permiso para obtener la ubicación precisa del usuario (GPS) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Permiso para obtener la ubicación aproximada (redes móviles/Wi-Fi) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Emprendimiento"
        tools:targetApi="31">

        <!--
            LoginActivity es la actividad de inicio (LAUNCHER).
            Esto significa que es la primera pantalla que se abre cuando el usuario
            lanza la aplicación.
            android:exported="true" es necesario para la actividad de lanzamiento.
        -->
        <activity
            android:name="LoginActivity"
            android:exported="true"
            > <!-- Un tema sin barra de acción para la pantalla de login -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
            MainActivity es la actividad principal después de iniciar sesión.
            No es la de lanzamiento, por lo que no necesita un intent-filter de LAUNCHER.
            android:exported="false" indica que esta actividad no debe ser iniciada por otras apps.
            windowSoftInputMode="adjustPan" evita que el teclado empuje el layout hacia arriba de forma extraña.
        -->
        <activity
            android:name="MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

    </application>

</manifest>